/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO */
body {
    background-color: #004a99;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* CONTAINER PRINCIPAL */
.container {
    width: 100%;
    max-width: 450px;
    background: #ffffff;
    border-radius: 18px;
    padding: 30px 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* TOPO */
.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.Icon_ufac img {
    width: 70px;
}

.header h1 {
    font-size: 22px;
    color: #074F9D;
}

.header p {
    font-size: 14px;
    color: #F2B300;
    margin-top: 3px;
}

/* SALDO BOX */
.saldo-box {
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.saldo-box p {
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.saldo-box h2 {
    font-size: 32px;
    color: #074F9D;
    margin: 5px 0;
}

.btn-recarga {
    background-color: #074F9D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}

/* QR CODE BOX */
.qr-box {
    width: 100%;
    background: #fff;
    border: 1px solid #074F9D;
    border-radius: 14px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.qr-titulo {
    font-weight: bold;
    color: #074F9D;
    font-size: 18px;
}

.qr-box img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    padding: 10px;
    background: white;
}

.qr-box .texto {
    font-size: 14px;
    color: #888;
    text-align: center;
}

/* ACOES */
.acoes {
    width: 100%;
}

.botao-secundario {
    width: 100%;
    background-color: transparent;
    border: 2px solid #074F9D;
    border-radius: 10px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.botao-secundario a {
    color: #074F9D;
}

/* RESPONSIVIDADE */
@media (max-width: 480px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    .qr-box img {
        width: 160px;
        height: 160px;
    }

    .header h1 {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: var(--branco);
}
