* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #004a99;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* CONTAINER */
.container {
    
    height: 600px;
    width: 1000px;
    background: #f1f1f1;
    border-radius: 18px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* TOPO */
.topo {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.Icon_ufac img {
    width: 60px;
}

.header {
    flex: 1;
}

.header h1 {

    font-size: 32px;
    color: #074F9D;
}

.header p {

    font-size: 14px;
    color: #F2B300;
    font-weight: bold;
    margin-top: 3px;
}

.icon_documento img {
    width: 45px;
}

/* LINHA */
hr {

    border: none;
    height: 1px;
    background: #c7c7c7;
    margin-bottom: 10px;
}

/* BUSCA */
.buscar {

    margin-bottom: 5px; 
}

.buscar input {

    width: 100%;
    padding: 8px 10px;
    border: 2px solid #d4d4d4;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

/* TEXTO */
.minhas {

    margin-bottom: 10px;
}

.minhas span {

    color: #074F9D;
    font-size: 11px;
    font-weight: bold;
}

/* MENU */
.menu {

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

/* CARD */
.card {

    border: #004a99 solid 2px;
    background: #f8f8f8;
    border-radius: 14px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.left {

    display: flex;
    align-items: center;
    gap: 8px;
}

.left img {

    width: 25px;
}

.textos h2 {

    color: #074F9D;
    font-size: 16px;
}

.textos p {

    font-size: 12px;
    color: #555;
}

/* BOTÃO */
.card button {

    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

/* INFO */
.info {

    background: #8db6e8;
    border-radius: 14px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info span {

    width: 25px;
    height: 25px;
    border: 2px solid #074F9D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #074F9D;
    font-weight: bold;
}

.info p {

    font-size: 9px;
    color: #074F9D;
    font-weight: bold;
}

.voltar {
    
    width: 210px;
    align-items: center;
    padding: 8px;
    background-color: #074F9D;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;

}